@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-xs col-sm col-md col-lg col-xl col-xxl">
                <labe class="text-dark small" title="Manage"> @context.User.Identity.Name</labe>
            </div>
            <div class="col-xs col-sm col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <button type="submit" class="btn btn-sm btn-primary" style="font-size: 10px;" @onclick="BeginSignOut">Sair</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-sm btn-outline-light text-dark me-2" style="font-size: 10px;" href="authentication/register">Registro</a>
        <a class="btn btn-sm btn-secondary" href="authentication/login" style="font-size: 10px;">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
