<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="rota_api" value="https://localhost:44360/" />
    <add key="api_key" value="%4zgW%5@yb9nwumDK64AbUzsNu6R?eerVu,nx;XWZ$aUb67fFF@t-YY7ef$uJ@T7tqA%9&gt;.7,8JBy.)X-GCtSMpaJp9e4lg5yHFSVAIdwj1Rfm3Ha7BA9sn8XN6O1E" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
