@page "/Escala/Novo"
@page "/Escala/Nova"

@page "/Escala/Novo/{id:int}"
@page "/Escala/Nova/{id:int}"

@inherits EscalaCadastroBase

<section>
    <MessageBox @ref="MessageBoxRef" />

    <MudText Typo="Typo.h6" Class="mb-5">
        @NomePagina Escala
    </MudText>

    <EditForm Model="model" OnValidSubmit="SalvarInformacoesAsync">

        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                <MudPaper Class="px-7">
                    <MudGrid>
                        @if (Operacao == TipoOperacao.Novo)
                        {
                            <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                                <MudSelect T="TipoEscala" Label="Tipo Escala" @bind-Value="TipoEscalaEscolhida">
                                    <MudSelectItem Value="@TipoEscala.Diario">Diária</MudSelectItem>
                                    <MudSelectItem Value="@TipoEscala.Mensal">Mensal</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                        }
                        else if (Operacao == TipoOperacao.Edicao)
                        {
                            <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                                <MudSelect T="TipoEscala" Label="Tipo Escala" @bind-Value="TipoEscalaEscolhida" Disabled="true">
                                    <MudSelectItem Value="@TipoEscala.Diario">Diária</MudSelectItem>
                                    <MudSelectItem Value="@TipoEscala.Mensal">Mensal</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                        }

                        @if (TipoEscalaEscolhida == TipoEscala.Diario)
                        {
                            @if (Operacao == TipoOperacao.Novo)
                            {
                                <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                                    <MudDatePicker Color="Color.Tertiary" Label="Data de Inicio" @bind-Date="DataInicio" DateFormat="dd/MM/yyyy" PickerVariant="PickerVariant.Dialog" />
                                </MudItem>
                            }
                            else if (Operacao == TipoOperacao.Edicao)
                            {
                                <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                                    <MudDatePicker Disabled="true" Color="Color.Tertiary" Label="Data de Inicio" @bind-Date="DataInicio" DateFormat="dd/MM/yyyy" PickerVariant="PickerVariant.Dialog" />
                                </MudItem>
                            }
                        }
                        else
                        {
                            @if (Operacao == TipoOperacao.Novo)
                            {
                                <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                                    <MudSelect T="int" Label="Mês" @bind-Value="MesSelecionado">
                                        <MudSelectItem Value="1">Janeiro</MudSelectItem>
                                        <MudSelectItem Value="2">Fevereiro</MudSelectItem>
                                        <MudSelectItem Value="3">Março</MudSelectItem>
                                        <MudSelectItem Value="4">Abril</MudSelectItem>
                                        <MudSelectItem Value="5">Maio</MudSelectItem>
                                        <MudSelectItem Value="6">Junho</MudSelectItem>
                                        <MudSelectItem Value="7">Julho</MudSelectItem>
                                        <MudSelectItem Value="8">Agosto</MudSelectItem>
                                        <MudSelectItem Value="9">Setembro</MudSelectItem>
                                        <MudSelectItem Value="10">Outubro</MudSelectItem>
                                        <MudSelectItem Value="11">Novembro</MudSelectItem>
                                        <MudSelectItem Value="12">Dezembro</MudSelectItem>
                                    </MudSelect>
                                </MudItem>
                            }
                            else if (Operacao == TipoOperacao.Edicao)
                            {
                                <MudItem xs="12" sm="12" md="2" lg="2" xl="2">
                                    <MudSelect T="int" Label="Mês" @bind-Value="MesSelecionado" Disabled="true">
                                        <MudSelectItem Value="1">Janeiro</MudSelectItem>
                                        <MudSelectItem Value="2">Fevereiro</MudSelectItem>
                                        <MudSelectItem Value="3">Março</MudSelectItem>
                                        <MudSelectItem Value="4">Abril</MudSelectItem>
                                        <MudSelectItem Value="5">Maio</MudSelectItem>
                                        <MudSelectItem Value="6">Junho</MudSelectItem>
                                        <MudSelectItem Value="7">Julho</MudSelectItem>
                                        <MudSelectItem Value="8">Agosto</MudSelectItem>
                                        <MudSelectItem Value="9">Setembro</MudSelectItem>
                                        <MudSelectItem Value="10">Outubro</MudSelectItem>
                                        <MudSelectItem Value="11">Novembro</MudSelectItem>
                                        <MudSelectItem Value="12">Dezembro</MudSelectItem>
                                    </MudSelect>
                                </MudItem>
                            }
                        }

                    </MudGrid>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="12" md="6" lg="6" xl="6">

            </MudItem>
            <MudItem xs="12" sm="12" md="6" lg="6" xl="6">

            </MudItem>
        </MudGrid>

    </EditForm>
</section>