@inherits CardBase

<div class="card border-left-primary shadow p-0" style="border-@Position: @Size solid @Cor!important;">
    <div class="card-body pt-2 pb-0">
        <CascadingValue Value="@ID">
            @ChildContent
        </CascadingValue>
    </div>
</div>
