@inherits MenuSuperiorBase

<header class="px-3 py-2 bg-light text-dark border border-0 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img src="./img/Logo1.png" height="32" />
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li class="small">
                    <a href="/" asp-action="Index" class="nav-link text-dark small text-center">
                        <i aria-hidden="true" class="fas fa-home  d-block mx-auto mb-1" style="font-size: 20px; width: 40px; height:30px;"></i>
                        Início
                    </a>
                </li>
                <li class="small">
                    <a href="/Turno/" class="nav-link text-dark small text-center">
                        <i aria-hidden="true" class="fas fa-clock  d-block mx-auto mb-1" style="font-size: 20px; width: 40px; height:30px;"></i>
                        Turno
                    </a>
                </li>
                <li class="small">
                    <a href="/Funcionario/" class="nav-link text-dark small text-center">
                        <i aria-hidden="true" class="fas fa-users  d-block mx-auto mb-1" style="font-size: 20px; width: 40px; height:30px;"></i>
                        Funcionário
                    </a>
                </li>
                <li class="small">
                    <a href="/" class="nav-link text-dark small text-center">
                        <i aria-hidden="true" class="fas fa-hotel  d-block mx-auto mb-1" style="font-size: 20px; width: 40px; height:30px;"></i>
                        Clientes
                    </a>
                </li>
                <li class="small">
                    <a href="/" class="nav-link text-dark small text-center">
                        <i aria-hidden="true" class="far fa-calendar-alt  d-block mx-auto mb-1" style="font-size: 20px; width: 40px; height:30px;"></i>
                        Escala
                    </a>
                </li>
                <li class="small">
                    <a href="/" class="nav-link text-dark small text-center">
                        <i aria-hidden="true" class="fas fa-file-alt  d-block mx-auto mb-1" style="font-size: 20px; width: 40px; height:30px;"></i>
                        Folha de Ponto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>