.messagebox {
    position: absolute;
    width: auto;
    background-color: rgba(0, 0, 0, .1);
    top: 45%;
    left: 35%;
    z-index: 10;
}

.infos {
    width: 450px;
    background-color: transparent;
}

@media screen and (min-width: 100px) and (max-width: 200px) {

    .messagebox {
        position: absolute;
        width: 95%;
        background-color: rgba(0, 0, 0, .1);
        top: 35%;
        left: 10px;
        z-index: 10;
    }

    .infos {
        width: 98%;
        background-color: transparent;
    }
}


@media screen and (min-width: 201px) and (max-width: 300px) {

    .messagebox {
        position: absolute;
        width: 95%;
        background-color: rgba(0, 0, 0, .1);
        top: 35%;
        left: 10px;
        z-index: 10;
    }

    .infos {
        width: 98%;
        background-color: transparent;
    }
}

@media screen and (min-width: 301px) and (max-width: 400px) {

    .messagebox {
        position: absolute;
        width: 95%;
        background-color: rgba(0, 0, 0, .1);
        top: 35%;
        left: 10px;
        z-index: 10;
    }

    .infos {
        width: 98%;
        background-color: transparent;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {

    .messagebox {
        position: absolute;
        width: 95%;
        background-color: rgba(0, 0, 0, .1);
        top: 35%;
        left: 10px;
        z-index: 10;
    }

    .infos {
        width: 100%;
        background-color: transparent;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {

    .messagebox {
        position: absolute;
        width: 95%;
        background-color: rgba(0, 0, 0, .1);
        top: 35%;
        left: 10px;
        z-index: 10;
    }

    .infos {
        width: 100%;
        background-color: transparent;
    }
}

@media screen and (min-width: 601px) and (max-width: 700px) {

    .messagebox {
        position: absolute;
        width: 95%;
        background-color: rgba(0, 0, 0, .1);
        top: 35%;
        left: 10px;
        z-index: 10;
    }

    .infos {
        width: 100%;
        background-color: transparent;
    }
}
