@inherits SubMenuSuperiorBase

<div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            @*<input type="search" class="form-control form-control-sm" placeholder="Pesquisar...">*@
            <label class="small text-muted">@DataAtual</label>
        </form>

        <div class="text-end">
            <LoginDisplay />
        </div>
    </div>
</div>