@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<MudThemeProvider Theme="currentTheme" />

<RemoteAuthenticatorView Action="@Action">

    <LoggingIn>
        <MudContainer>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        </MudContainer>
    </LoggingIn>

    <CompletingLoggingIn>
        <MudContainer>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        </MudContainer>
    </CompletingLoggingIn>

    <CompletingLogOut>
        <MudContainer>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        </MudContainer>
    </CompletingLogOut>

    <LogInFailed>
        <MudContainer>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        </MudContainer>
    </LogInFailed>

    <LogOut>
        <MudContainer>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        </MudContainer>
    </LogOut>

    <CompletingLogOut>
        <MudContainer>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        </MudContainer>
    </CompletingLogOut>

    <LogOutSucceeded>
        <div>
            @{ Navigation.NavigateTo(Navigation.BaseUri.ToString()); }
        </div>
    </LogOutSucceeded>

</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }

    protected override void OnInitialized() =>
    currentTheme = darkTheme;

    MudTheme currentTheme = new MudTheme();

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}
